*

!tasks/
tasks/*
!tasks/*.rs
!tasks/cargo_tasks/
!tasks/cargo_tasks/**
tasks/cargo_tasks/target
tasks/random_num_to_function/Cargo.lock
!.gitignore
!README.md
!LICENSE.md
!tasks/cargo_tasks/extras/
